nav {
    text-align: center;
    margin-top: 20px;
  }
  
  nav a {
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
    color: white;
    background-color: blue;
    border-radius: 5px;
    font-weight: bold;
  }
  
  nav a.active {
    background-color: darkblue;
  }
  
  nav a:hover {
    background-color: lightblue;
    color: black;
  }
  